[[source]]
url = "https://pypi.org/simple"

verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
pandas = "*"
sqlalchemy = "*"
jira = "*"

[dev-packages]
pre-commit = "*"
tox = "*"

[requires]
python_version = "3.10"


